{% extends "FutbolApp/padre.html" %}

{% load static %}

{% block titulohead %}
    FutbolApp - Agregar Club
{% endblock %}

{% block titulo %}
    AGREGAR CLUB
{% endblock %}



{% block parrafo %}
    <p>Complete todos los campos</p>
{% endblock %}




{% block contenido %}
    <form action="{% url 'clubesFormulario' %}" method="POST"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div style="text-align: center;">
            <input type="submit" value="Agregar club" >    
        </div>
    </form>
{% endblock %}


