{% extends "FutbolApp/padre.html" %}

{% load static %}

{% block titulohead %}
    FutbolApp - Jugadores
{% endblock %}

{% block titulo %}
    EDICION DE CLUB
{% endblock %}



{% block parrafo %}
    <p>Formulario de edicion de Club</p>
{% endblock %}



{% block contenido %}
    <form action="{% url 'editarClub' club.id %}" method="POST"> {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>

        <div style="text-align: center;">
            <input type="submit" value="Editar Club" >
        </div>
        
    </form>
{% endblock %}
