{% extends "FutbolApp/padre.html" %}

{% load static %}

{% block titulohead %}
    FutbolApp - Jugadores
{% endblock %}

{% block titulo %}
    LISTA DE JUGADORES
{% endblock %}
    
{% block contenido %}

    {% for jugador in jugadores %}
        <li>
            {{ jugador.nombre }} {{ jugador.apellido }} 
        </li>

        <a style="border: solid 1px;" class="w3-bar-item w3-button w3-padding-large" href="{% url 'editarJugador' jugador.id %}">Editar</a>
        <a style="border: solid 1px;" class="w3-bar-item w3-button w3-padding-large" href="{% url 'eliminarJugador' jugador.id %}">Eliminar</a>

    {% endfor %}


{% endblock %}

{{ mensaje }}

